@model NBD.Models.Team

@{
    ViewData["Title"] = "Create";
}

<h1 align="center">Create Team</h1>

<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Phase" class="control-label"></label>
                <input asp-for="Phase" class="form-control" />
                <span asp-validation-for="Phase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamName" class="control-label"></label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                        <label asp-for="EmployeeID" class="control-label"></label>
                        <select asp-for="EmployeeID" class="form-control" asp-items="ViewBag.EmployeeID"></select>
                    </div>
                <div class="form-group">
                    <label asp-for="ProjectID" class="control-label"></label>
                    <select asp-for="ProjectID" class="form-control" asp-items="ViewBag.ProjectID"></select>
                </div>*@
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label"> Remove Worker</label> <button type="button" id="btnEmpMoveRight" class="btn btn-danger btn-sm">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control" })
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label"> Choose Worker</label> <button type="button" id="btnEmpMoveLeft" class="btn btn-light btn-sm">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control" })
                </div>
            </div>
        </div>
        <div>
            <input type="submit" id=" btnSave" value="Create" class="btn btn-light" asp-route-selectedOptions="selectedOptions" />
            <a class="btn btn-danger" asp-action="Index">Back to List</a>
        </div>
</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/multiselect.js"></script>
}